.h3 {
  text-align: center;
  color: #FF69B4;
  align-self: start;
  font-family: Arial, Helvetica, sans-serif;
}

.h3white {
  text-align: center;
  color: white;
  align-self: start;
  font-family: Arial, Helvetica, sans-serif;
}

.h4 {
  text-align: center;
  color: #FF69B4;
  align-self: start;
  margin-left: 7px;
  font-family: Arial, Helvetica, sans-serif;
}
input[type="radio"] {
  background-color: #FF69B4;
  border-color: #FF69B4;
}
.form-check-input input[type="radio"]:checked {
  background-color: #FF69B4;
  border: #FF69B4;
}
.modal-Header {
  align-content: center;
  text-align: center;
  width: 50%;
  height: auto;
}

.modal-header {
  background-color: #FF69B4;
}
table {
  padding-top: 200px;
  align-self: centre;
  width: 300px;
  border-collapse: collapse;
}
table, th, td {
  border: 3px solid black;
}
th, td {
  padding: 10px;
  color: white;
  text-align: left;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.text-label {
  display: inline-block;
  text-align: left;
  width: 90px;
  vertical-align: middle;
  color: #FF69B4;
  font: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}
.text-label-b {
  text-align: right;
  vertical-align: middle;
  color: #FF69B4;
  font: bold;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

.small {
  text-align: right;
  vertical-align: middle;
  color: #FF69B4;
  font: bold;
  font-size: small;
  margin-left: 0px;
  margin-right: 0px;
}
.text-label-black {
  text-align: right;
  vertical-align: middle;
  color: black;
  font: bold;
  font-size: large;
  margin-left: 20px;
}
.input-field-a {
  width: 100%;
  margin: auto;

  /* margin-left: 3px; */
}

.input-field-heading {
  width: 350px;
  margin: auto;
  margin-left: 10px;
}
.input-field-a {
  width: 230px !important;
  margin: auto;
  /* margin-left: 3px; */
}
.input-field-add {
  height: 30px;
  width: 20px;
  margin: 0;
}
.input-field-ad {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.input-field-ot {
  height: auto;
  width: 100px;
  margin: 0 auto;
  border-top-width: thick;
}

.plus-btn {
  margin: 0 auto;
  width: 60%;
  height: 60%;
  border-radius: 20px;
  background-color: #FF69B4;
  border: solid 1px #FF69B4;
  font-size: 150%;
  margin-top: 10px;
  box-shadow: 0 0 4px #999;
}

.plus-btn-small {
  margin: 05%;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  background-color: #FF69B4;
  border: solid 1px #FF69B4;
  font-size: 70%;
  margin-top: 0px;
  box-shadow: 0 0 4px #999;
}
.undo-btn {
  margin: 05%;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  background-color: #FF69B4;
  border: solid 1px #FF69B4;
  font-size: 70%;
  margin-top: 0px;
  box-shadow: 0 0 4px #999;
}
.outlined-btn {
  width: 64px;
  height: 36px;
  background-color: white;
  color: black;
  border: 2px solid #FF69B4;
  text-align: center;
  box-shadow: 0 0 4px #999;
}

/* Saad */
html,
body {
  height: 100%;
  margin: 0;
}
.imgg{
  background: transparent;
  margin-top:100px;
  margin-bottom: 40%;
  margin-left: 20%;
  display: block;
}
.home-page {
  height: 100vh;
  background: url(./components/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -999;background-color: #D776D3;
}
.home-page_1 {
  height: 100vh;
  background: url(./components/img/WhatsApp\ Image\ 2021-04-11\ at\ 06.03.00.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat:space;
  z-index: -999;background-color: #D776D3;
}
.home-page_2 {
  height: 100vh;
  background: url(./components/img/WhatsApp\ Image\ 2021-04-11\ at\ 06.02.59.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat:space;
  z-index: -999;background-color: #D776D3;
}
.main-container {
  width: 90%;
  margin: 0 auto;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}
.reg-form {
  width: 40%;
  margin: 0 auto;
}
.input-field {
  height: 50px;
  margin: 0 auto;
}
.password-container {
  position: relative;
}
.pop-up {
  width: 100%;
  display: inline-block;
  visibility: hidden;
  /* position:absolute;
  top: 0px;
  right: 0px; */
  color:#2c0d72;
}
input[type="password"]:hover ~ .pop-up {
  visibility: visible;
}
input[type="email"]:hover ~ .pop-up {
  visibility: visible;
}

.text-heading {
  font-size: 300%;
}

.text,
.text-heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 5% auto;
  font-weight: bolder;
}
.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(66, 222, 233);
  margin-top: 2% auto;
  font-weight: bolder;
  font-size: 300%;
  text-shadow: 2px 2px 4px #000000
}

.signup-btn {
  margin: 0 auto;
  margin-top: 2%;
  width: 60%;
  border-radius: 20px;
  background-color: rgb(109, 20, 121);
  border: solid 1px whitesmoke;
  font-size: 130%;
  color: rgb(97, 215, 245);
  text-shadow: 0.5px 0.5px 0.5px #5bf15b
}
.orderNow-btn {
  
  
  /* position: relative; */
  width: 15%;
  border-radius: 20px;
  margin-top: -700px;
  margin-left: 475px ;
  background-color: #9464E2;
  border: none;
  font-size: 130%;
  color: rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0.5px #000000
 
}

.aboutt-btn {
  
  
  /* position: relative; */
  width: 25%;
  border-radius: 20px;
  margin-top: -90px;
  margin-left: 300px ;
  background-color: transparent;
  border: none;
  font-size: 130%;
  color: rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0.5px #000000
 
}

#menu-outer {
  padding-top: 180px;
	height: 84px;

}



.tableD {
	display: table;   /* Allow the centering to work */
  margin-top: 500px;
	margin: 0 auto;
}

ul#horizontal-list {
  height: -100px;
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

.loginn-btn {
  
  
  /* position: relative; */
  width: 20%;
  border-radius: 20px;
  margin-top: -440px;
  margin-left: 430px ;
  background-color: transparent;
  border: none;
  font-size: 130%;
  color: rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0.5px #000000
 
}

.btn-handler {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4%;
}
.pdd{
  margin-top: 30px;


}
div.text_box {
  display: block;
  float: left;
  width: 48vh;
  height: 8vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 1.5px black;
  margin: 1vh 1vh 1vh 1vh;
  font-size: 2.5vh;
  padding: 1vh 1vh 1vh 1vh;
}

.nav-button {
  background-color: #6c757d00;
  border-color: #6c757d00;
}

.outBG{
  padding-top: 5.7%;
  background-color: #D776D3;
  
}
.tt{
  font-size: 450%;
  width: 100%;
  position: absolute;
  left:-10%;
  top: 10%;
  color: #4B3252;
  text-align: center;
  font-family: Imprima;
  background-color: #D776D3;
  border: #999;
  


}

.nav-button:hover {
  background-color: #6c757d00;
  border-color: #6c757d00;
  
}

.brand-name {
  text-align: center;
  font-size: 700%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 3%;
  text-shadow: 2px 2px 4px #000000
}
.Modal {
  position: relative;
  top: 20%;
  width: 50%;
  left:20%;
  background-color:#2E5984;
  border-radius: 4%;
  border-width: 0%;
  border-color: cornsilk;
}
.col-sm-12 mt-5 mb-2{
  margin-left: 90%;
}



.link {
  color: #10a02f;
  text-align: center;
  margin: 0 auto;
  margin-left: 3%;
}
.nav-but{
  background-color: #2E5984;
  font-size: 90%;
  color: aliceblue;
  border: 0px;
  border-radius: 6%;
}
.nav-but-big{
  background-color: #2E5984;
  font-size: 90%;
  color: aliceblue;
  border-radius: 6%;
  border-color: aliceblue;
}
.empty{
  background-color: #2E5984;

}
div {
  text-align: left;
}
.login-btn {
  margin: 0 auto;
  width: 40%;
  border-radius: 20px;
  background-color: #FF69B4;
  border: solid 1px #FF69B4;
  font-size: 130%;
  margin-top: 10px;
  box-shadow: 0 0 4px #999;
}

.navbar {
  background-color: #2E5984;
  position: relative;
  height: 20%;
}
.title-small {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 5% auto;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
  position: absolute;
  left: 46%;
  margin-left: -50px !important;
  display: block;
  font-size: 25px;
  font-weight: bolder;
}
.title-small-2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 5% auto;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
  position: absolute;
  left: 00%;
  display: block;
  font-size: 30px;
  font-weight: bolder;
}
.search{
  position: absolute;
  left:75%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-link {
  color: white !important;
  font-size: 18px;
  margin-top: 100%;
}

.nav-link:hover {
  background-color: grey;
  border-radius: 10px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: rgb(218, 238, 225);
}

.search {
  color: white;
  margin: 0 10px 0 0;
  font-size: 22px;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.toggle {
  color: white;
  font-size: 22px;
}

.form-control {
  width: 100%;
  height: 38px;
  font-size: 12px;
  border: solid 1px gray;
  border-radius: 20px;
}

/* Tab */
.tab-small,
.tab-large {
  display: block;
  color: white;
  border-radius: 20px;
  position: relative;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}
.modal-type{
  position: "relative",

  
}
.tab-small {
  height: 125px;
  width: 150px;
  background-color: #FF69B4;
  border: solid 1px #FF69B4;
}

.tab-large {
  height: 150px;
  width: 200px;
  background-color: #FF69B4;
  border: solid 1px #FF69B4;
}

.tab-small:hover,
.tab-large:hover {
  transform: scale(1.05);
}

.tab-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.tab-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Errors */
.errors {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: lightcoral;
  color: white;
}

/* FarmList */
.next-layer {
  background-color: lightgrey;
  height: 100%;
}

/* Farm */
.farm-main-container {
  background-color: white;
  z-index: 3;
}

.inner-main-container {
  width: 90%;
  margin: 0 auto;
}

.farm-back {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.farm-name {
  font-size: 2rem;
  font-family: "Arial";
}

.farm-icon {
  float: left;
  margin: 0 10px 0 0;
}

.farm-text {
  font-size: 1.5rem;
  font-family: "Arial";
  width: 50%;
  margin-left: 35px;
}

.farm-icon-ex {
  float: left;
  margin: 0 10px 0 0;
  font-size: 2em;
  margin-left: 7px;
}

.manualBg{
  padding-left: 5px;
  background-color: #E2C6EC  ;
 
}

.space{
  padding-right: 250px;
}

.top-icon {
  float: right;
  margin: 10px;
  color: #FF69B4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Tab */
  .navbar-brand {
    padding-top: 0%;
    padding-bottom: 0%;
    margin-right: 0%;
    margin-left: -65px !important;
  }
  .form-group {
    width: 100%;
    display: inherit;
    margin-top: 1rem;
  }
  .nav-link {
    margin-left: 3%;
  }
  .form-inline {
    width: 100%;
  }
  .tab-small {
    height: 100px;
    width: 45%;
  }
  .tab-large {
    width: 100%;
    height: 100px;
  }
  .brand-name {
    font-size: 300%;
  }
  .reg-form {
    width: 100%;
  }
  #firstName {
    margin-bottom: 15px;
  }
  .signup-btn {
    width: 100%;
  }
  .login-btn {
    width: 100%;
  }
  .main-container {
    width: 100%;
  }
  .farm-text {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .brand-name {
    font-size: 400%;
  }
  .reg-form {
    width: 80%;
  }
  #firstName {
    margin-bottom: 15px;
  }
  .signup-btn {
    width: 80%;
  }
  .login-btn {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .brand-name {
    font-size: 500%;
  }
  .reg-form {
    width: 50%;
  }
  #firstName {
    margin-bottom: 0px;
  }
  .signup-btn {
    width: 30%;
  }
  .login-btn {
    width: 40%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav-link {
    color: white !important;
    margin: 0 20px 0 20px;
    font-size: 18px;
    text-align: center;
  }

  .separator {
    width: 1.5px;
    background-color: white;
  }

  .brand-name {
    font-size: 500%;
    color: yellow;
  }
  .reg-form {
    width: 40%;
  }
  #firstName {
    margin-bottom: 0px;
  }
  .signup-btn {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}